p{
    margin-bottom: unset
}
.table-responsive{
border-left: 6px solid black;
border-right: 6px solid black;
border-right: 2px solid black;
}
td{
    border: 2px solid black
}
th{
    border: 2px solid black
}