<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
              <a href="/teacher">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">supervised_user_circle</i>
                      </div>
                      <p class="card-category">Quản Lý Tài Khoản Giáo Viên</p>
                      <h3 class="card-title">Giáo Viên
                       
                      </h3>
                  </div>
                  <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons">trending_flag</i> Xem Thêm -->
                        </div>
                    </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <a href="/student">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">account_circle</i>
                      </div>
                      <p class="card-category">Quản Lý Học Sinh</p>
                      <h3 class="card-title">Học Sinh</h3>
                     
                  </div>
                  <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons">trending_flag</i> Xem Thêm -->
                        </div>
                    </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <a href="/notification">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">notification_important</i>
                      </div>
                      <p class="card-category">Quản Lý Thông Báo</p>
                      <h3 class="card-title">Thông Báo</h3>
                  </div>
                  <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons">trending_flag</i> Xem Thêm -->
                        </div>
                    </div>
              </div>
            </a>
          </div>
          
      </div>
      <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a href="/teacher">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">event</i>
                        </div>
                        <p class="card-category">Phân Công Giang Dạy</p>
                        <h3 class="card-title">Bản Phân Công
                          
                        </h3>
                    </div>
                    <div class="card-footer">
                            <div class="stats">
                                <!-- <i class="material-icons">trending_flag</i> Xem Thêm -->
                            </div>
                        </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <a href="/transcript">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">file_copy</i>
                        </div>
                        <p class="card-category">Quản Lý Điểm</p>
                        <h3 class="card-title">Điểm</h3>
                     
                    </div>
                    <div class="card-footer">
                            <div class="stats">
                                <!-- <i class="material-icons">trending_flag</i> Xem Thêm -->
                            </div>
                        </div>
                </div>
            </a>
            </div>
           <div class="col-lg-4 col-md-6 col-sm-6">
               <a href="/dayoff">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">check_circle</i>
                      </div>
                      <p class="card-category">Duyệt Nghỉ phép</p>
                      <h3 class="card-title">Nghỉ Phép</h3>
                   
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <!-- <i class="material-icons">trending_flag</i> Xem Thêm -->
                      </div>
                  </div>
              </div>
            </a>
          </div>
          
        </div>
      <div class="row">
         
          <div class="col-md-12">
              <div class="card card-chart">
                  <div class="card-header card-header-warning">
                      <div class="ct-chart" id="websiteViewsChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Thống kê học loại học sinh</h4>
                      <mat-form-field>
                        <mat-label>Chọn Khối</mat-label>
                        <mat-select  [(ngModel)]="khoilop" (valueChange)="layketqua(khoi.value)" matInput class="example-full-width" #khoi>
                          <mat-option [value]="khois" *ngFor="let khois of danhsachkhoi" #khoi>{{khois}}</mat-option>
                         
    
                        </mat-select>
                      </mat-form-field>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> campaign sent 2 days ago
                      </div>
                  </div>
              </div>
          </div>
         
      </div>
      
  </div>
</div>
