<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-header card-header-danger">
            <div class="row">
              <div class="col-md-6">
                  <h4 class="card-title ">Tài Khoản Phụ Huynh</h4>
                  <p class="card-category"> Danh Sách Phụ Huynh</p>
              </div>
              <div class="col-md-6">
                
                     <div class="row">
                       <div class="col-md-3" style="padding: unset">
                          <i style="margin-top:10px; float: right;" _ngcontent-biw-c3="" class="material-icons">search</i>
                       </div>
                       <div class="col-md-9" style="padding-left:unset">
                          <input  class="material-icons" style="color: white"class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder=" search">
                       </div>
                     </div>
                   
                
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
           <table style="overflow-y: scroll" id="datatable" class="table">
                    <thead>
                        <tr>
                           
                            <th>Tên Phụ Huynh</th>
                            <th>Số Điện Thoại</th>
                            <th>Tên Học Sinh</th>
                            <th></th>
                            <!-- <th></th> -->
                            <!-- <th>Tên Học Sinh</th>
                            <th></th> -->
                           
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let user of userlist |filter:searchText">
                            <td>{{user.tenNguoiDung}}</td>
                            <td>{{user.soDienThoai}}</td>
                            <td><label *ngFor="let hocsinh of user.quanHe">{{hocsinh.tenHocSinh}}</label>&ensp;</td>
                            <td><button (click)='getobj(user)' class="btn btn-warning"> <span class="glyphicon glyphicon-pencil"></span>&ensp; Sửa</button> </td>
                            <!-- <td><button class="btn btn-danger"> <span class="glyphicon glyphicon-pencil"></span>&ensp; Xóa</button></td>     -->
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div *ngIf="checktao" class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Hồ Sơ</h4>
            <p class="card-category">Thêm tài khoản mới</p>
          </div>
          <div class="card-body">
            <form [formGroup]="accountForm" novalidate>
              <div class="row">

                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input  #tenNguoiDung formControlName="tenNguoiDung" matInput placeholder="Họ và Tên">
                  </mat-form-field>
                </div>

              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input  #soDienThoai formControlName="soDienThoai"matInput placeholder="Số điện thoại" type="text">
                  </mat-form-field>
                </div>

              </div>
             
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Chọn Khối</mat-label>
                    <mat-select  formControlName="khoi" [(ngModel)]="khoilop" (valueChange)="getlop(khoi.value)" matInput class="example-full-width" #khoi>
                      <mat-option [value]="khois" *ngFor="let khois of danhsachkhoi" #khoi>{{khois}}</mat-option>
                     

                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Chọn Lớp</mat-label>
                        <mat-select  [(ngModel)]="soHieu" formControlName="lop"(valueChange)="gethocsinh(lop.value)" matInput class="example-full-width" #lop>
                          <mat-option [value]="item" *ngFor="let item of danhsachlop">{{item.soHieu}}</mat-option>
                     
    
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field>
                        <mat-label>Chọn học sinh</mat-label>
                        <mat-select [(ngModel)]="hocsinh" formControlName="tenHocSinh" matInput class="example-full-width">
                          <mat-option [value]="student" *ngFor="let student of danhsachhocsinh">
                              {{student.tenHocSinh}}</mat-option>
                         
    
                        </mat-select>
                      </mat-form-field>
                      <!-- <select (change)="gethocsinh()" aria-placeholder="chọn lớp"
                                style="margin-left: 55px;width:180px;border-radius: 10px" id="lop" class="form-control"
                                [(ngModel)]="soHieu" formControlName="lop">
                                <option [ngValue]="item" *ngFor="let item of danhsachlop">{{item.soHieu}}</option>
                            </select> -->
                </div>
              </div>
              <button  (click)="importexcel()"
               mat-raised-button type="submit" class="btn btn-danger pull-right">Importexcel</button>
              <button  (click)="tao(tenNguoiDung.value,soDienThoai.value)"
              [disabled]="accountForm.pristine || accountForm.invalid" mat-raised-button type="submit" class="btn btn-danger pull-right">Tạo</button>
              <div class="clearfix"></div>
              <input style="width: 320px;" type="file" class="form-control" (change)="uploadedFile($event)" placeholder="Upload file"
              accept=".xlsx">

            </form>
          </div>
        </div>
        <div *ngIf="checksua" class="card card-profile">
            <div class="card-avatar" >
                <a href="javascript:void(0)">
                    <img style="height: 150px" class="img" src="../../assets/images/{{User.hinh}}" />
                </a>
            </div>
            <div class="card-body">
            
                <div class="row">
  
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input disabled matInput placeholder="{{User.tenNguoiDung}}" >
                    </mat-form-field>
                  </div>
  
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                      <input disabled matInput placeholder="{{User.soDienThoai}}" type="text">
                    </mat-form-field>
                  </div>
  
                </div>
                
                <div class="row">
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label *ngFor="let hs of User.quanHe">{{hs.khoi}}</mat-label>
                        <mat-select   [(ngModel)]="khoilop" (valueChange)="getlop(khoi.value)" matInput class="example-full-width" #khoi>
                          <mat-option [value]="khois" *ngFor="let khois of danhsachkhoi" >{{khois}}</mat-option>
                         
    
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label *ngFor="let hs of User.quanHe">{{hs.soHieu}}</mat-label>
                            <mat-select  [(ngModel)]="soHieu" (valueChange)="gethocsinh(lop.value)" matInput class="example-full-width" #lop>
                              <mat-option [value]="item" *ngFor="let item of danhsachlop">{{item.soHieu}}</mat-option>
                         
        
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-label *ngFor="let hs of User.quanHe">{{hs.tenHocSinh}}</mat-label>
                            <mat-select [(ngModel)]="hocsinh" matInput class="example-full-width">
                              <mat-option [value]="student" *ngFor="let student of danhsachhocsinh">
                                  {{student.tenHocSinh}}</mat-option>
                             
        
                            </mat-select>
                          </mat-form-field>
                          <!-- <select (change)="gethocsinh()" aria-placeholder="chọn lớp"
                                    style="margin-left: 55px;width:180px;border-radius: 10px" id="lop" class="form-control"
                                    [(ngModel)]="soHieu" formControlName="lop">
                                    <option [ngValue]="item" *ngFor="let item of danhsachlop">{{item.soHieu}}</option>
                                </select> -->
                    </div>
                  </div>
                  <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="openModal(template)">Xóa</button>
                <button mat-raised-button type="submit" class="btn btn-azure pull-right" (click)="sua()">Cập nhật</button>
                <button mat-raised-button type="submit" class="btn btn-warning pull-right" (click)="back()">Trở lại</button>
                <div class="clearfix"></div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Xác thực yêu cầu</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5>Bạn chắc chắn muốn xóa tài khoản này??</h5>
    </div>
    <div style="float: right;margin-right: 20px;margin-bottom: 10px" class="row">
        <div class="col-md-6"></div>
        <div  class="col-md-3"><button (click)="Xoa()"style="font-size: 12px; width:108px;height: 40px;border-radius: 10px" class="btn btn-danger">Xóa</button></div>
        <div  class="col-md-3" (click)="close()"><button style="font-size: 12px; width:108px;height: 40px;border-radius: 10px" class="btn btn-warning">Trở lại</button></div>
    </div>
  </ng-template>